extends layout

block content
    section.container
        form(method="POST")
            .form-group
                input(name="b_title",placeholder="제목").form-control
            .form-group
                input(name="b_write",placeholder="작성자").form-control
            .form-group
                input(name="b_text",placeholder="내용").form-control
            .form-group
                button.btn.btn-primary 전송
