style.
    .main {
        border:1px solid blue;
        padding:20px;
    }

    .sub {
        border :1px solid red;
        padding:1rem
    }

.main
    .sub 우리나라만세
    .sub 대한민국만세
    .sub Republic of Korea
