extends layout

block content
  h1= title
  p Welcome to #{title}
    form(method="POST",action="/input")
      input(type="text",name="m_user")
      button 전송
  a(href="/home") 홈열기
  form(method="POST",action="/home")
    button 전송