extends layout

block content
  link(rel="stylesheet",href="/stylesheets/todo_main.css")
  script(src="/javascripts/todo_main.js")
  script.
    var todo_data =""
    todo_data = `!{todo_data}` // 전역으로 선언된 todo_data 값을 서버에서 받은 값으로 세팅
  script(src="/javascripts/todo_sub.js")

  section.todo_main
    h1(id="main_title",onclick="main_title_click()") MY TODO LIST
    form(method="POST")
      input(type="text",name="todo",id="todo",placeholder="하고싶은일")
      button(type="button",id="btn-save") 저장

    article.todo_list
      button(id="btn-new") 새로고침
      ul#todo_list
